.title-bar {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  height: 10vh;
  z-index: 100;
}

.title-bar > div {
  position: absolute;
  inset: 0;

  transition-property: top, bottom;
  transition-timing-function: ease;
  transition-duration: 0.5s;

  background-color: red;
}

.title-bar-hide:not(:hover) > div {
  top: -100%;
  bottom: 100%;
}