body {
  --title-bar-height: calc(min(10dvw, 10vh));
}

.title-bar {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  height: var(--title-bar-height);
  z-index: 100;
}

.title-bar > div {
  position: absolute;
  inset: 0;

  background-color: red;
}

.title-bar > div > div {
  float: left;
  height: 100%;
}

/* menu */
.title-bar > div > div:nth-child(1) {
  width: var(--title-bar-height);
}

.title-bar > div > .hamburger:nth-child(1) {
  background-image: url(../images/ui/hamburger.svg);
}

.title-bar > div > .close:nth-child(1) {
  background-image: url(../images/ui/x.svg);
}

/* search (TODO) */
.title-bar > div > div:nth-child(2) {
  width: calc(100% - 2 * var(--title-bar-height));
}

/* profile picture */
.title-bar > div > div:nth-child(3) {
  width: calc(0.8 * var(--title-bar-height));
  height: calc(0.8 * var(--title-bar-height));
  margin: calc(0.1 * var(--title-bar-height));
  background-color: white;
  background-size: cover;
  border-radius: 35%;
}

/* hide title bar on desktop */
.desktop .title-bar > div {
  transition-property: top, bottom;
  transition-timing-function: ease;
  transition-duration: 0.5s;
}

/* .desktop .title-bar-hide:not(:hover) > div {
  top: -100%;
  bottom: 100%;
} */
